.root {
  height: 100vh;
}

.image {
  background-image: url('../../assets/OCRPianoNotes.png');
  background-repeat: no-repeat;
  background-color: lightgray;
  background-size: cover;
  background-position: center;
}

.paper {
  margin: 64px 32px !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: 8px !important;
  background-color: rgb(220, 0, 78) !important;
}

.form {
  width: 100%;
  margin-top: 8px !important;
}

.submit {
  margin: 24px 0px 16px !important;
}

.card_root {
  margin-top: 26px;
  min-width: 275px;
}

.backdrop {
  z-index: 10 !important;
  color: '#fff';
}
